# 폴더
.github
.yarn/*
!.yarn/releases
coverage
dist
prisma/*
!prisma/migrations
!prisma/schema.prisma
test
uploads
public


# 파일
.dockerignore
.editorconfig
.gitattributes
.pnp.loader.mjs
.prettierignore
.prettierrc
docker-compose.dev.yaml
docker-compose.prod.yaml
Dockerfile
jest.config.js
nohup.out
README.md
